<div class="ui center aligned container">
  <div class="ui stackable inverted grid">
    <div class="six wide column">
      <h4 class="ui inverted header">Resources</h4>
      <div class="ui inverted list">
        <a class="item" href="https://openreferral.org/" target="_blank">Website</a>
        <a class="item" href="https://openreferral.org/documentation/" target="_blank">Documentation</a>
        <a class="item" href="http://docs.openreferral.org" target="_blank">Specification (HSDS)</a>
        <a class="item" href="https://trello.com/b/aX40Nayw/open-referral-api-spec-development" target="_blank">Trello Roadmap</a>
      </div>
    </div>
    <div class="six wide column">
      <h4 class="ui inverted header">Network</h4>
      <div class="ui inverted list">
        <a class="item" href="https://github.com/openreferral" target="_blank">GitHub</a>
        <a class="item" href="https://twitter.com/Open_Referral" target="_blank">Twitter</a>
        <a class="item" href="https://openreferral.slack.com/">Slack</a>
      </div>
    </div>
  </div>
  <div class="ui inverted section divider"></div>
  <img src="/static/assets/logos/green.png" class="ui centered small image">
  <div class="ui horizontal inverted small divided list">
    <a class="item" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a>
  </div>
</div>
