<div class="item">
  <a class="ui logo icon image" href="/">
    <img src="static/assets/logos/green.png">
  </a>
</div>
<a href='/' class="item plugin-action" data-plugin='collections' data-action="default">
  <b>Getting started</b>
</a>
<a class="item plugin-action" href='/validators' data-plugin='history' data-action="default">
  <b>Validators</b>
</a>
<!-- <div class="item">
  <div class="header">Github</div>
  <div class="menu">
    <a class="item plugin-action" href="#" data-plugin='github' data-action="settings">Settings</a>
    <a class="item plugin-action" href="#" data-action="repositories">Repositories</a>
  </div>
</div> -->
