<h1 class="ui header">
  Validate resources
  <div class="sub header">
    Validate Open Referral resources
    individually against the official
    specification.
  </div>
</h1>


<div class="ui menu">
  <a class="browse item">
    Select a resource
    <i class="dropdown icon"></i>
  </a>
  <div class="ui fluid popup bottom left transition hidden resources">
    <div class="ui three column relaxed divided grid">
      <div class="column">
        <div class="ui link list">
          {{#each resources.[0]}}
          <a class="item resource" data-name="{{this.name}}" title="{{this.description}}">{{this.title}}</a> {{/each}}
        </div>
      </div>
      <div class="column">
        <div class="ui link list">
          {{#each resources.[1]}}
          <a class="item resource" data-name="{{this.name}}" title="{{this.description}}">{{this.title}}</a> {{/each}}
        </div>
      </div>
      <div class="column">
        <div class="ui link list">
          {{#each resources.[2]}}
          <a class="item resource" data-name="{{this.name}}" title="{{this.description}}">{{this.title}}</a> {{/each}}
        </div>
      </div>
    </div>
  </div>

  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>

<div class="ui top attached tabular menu">
  <a class="item active">
        Schema
      </a>
</div>
<div class="ui bottom attached segment resource-contents">
  <img class="ui wireframe image" src="/static/assets/images/paragraph.png">
</div>



<script src="/static/dist/validators-resource.bundle.js"></script>
