<html>

<head>
  <title>Playground | Open Referral</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <link rel="stylesheet" type="text/css" href="static/dist/styles.css">

</head>

<body>



  <div class="ui sidebar inverted vertical menu visible">

    {{>menu}}

  </div>
  <div class="pusher">


    <div class="main ui text container">

      <div class="article">
      {{{content}}}
      </div>

    </div>

  </div>


  <script src="static/dist/bundle.js"></script>
</body>

</html>
