<html>

<head>
  <title>Playground | Open Referral</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <link rel="stylesheet" type="text/css" href="/static/dist/styles.css">

  <script src="/static/dist/base.bundle.js"></script>

</head>

<body>

  <div class="ui sidebar inverted vertical menu visible">

    {{>menu}}

  </div>
  <div class="pusher">


    <div class="main ui container">

      <div class="article">
      {{{content}}}
      </div>

    </div>

  </div>


</body>

</html>
